<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">

  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="materialize-v1.0.0/materialize/css/materialize.css">
  <link rel="stylesheet" href="bootstrap.css">
  <link rel="stylesheet" href="./materialize-v1.0.0/materialize/css/icon.css">

  <script type="text/javascript" src="./materialize-v1.0.0/materialize/js/materialize.js"></script>

  <title>Med</title>
</head>

<body class="wrapper">
  <div class="container">
    <nav class="nav">
      <ul>
        <li>Home</li>
        <li>About</li>
        <li><img src="img/logo.png" alt="logo" style="width: 50px;"></li>
        <li>Support</li>
        <li>Help</li>
      </ul>
    </nav>

    <section style="margin-top: 100px;">
      <div class="info">
        <h4>STEAMLEDGE.</h4>
        <p class="">Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </section>

    <section style="margin-top: 100px;">
      <h5>Our Products</h5>
      <div class="row">
        <div class="col-md-4">
          <div class="card small" style="background: url(img/esra.jpg); background-size: cover;">
            <div style="height: 220px;"></div>
            <div class="card-content">
              <span class="card-title activator black-text">Mint <i
                  class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Mint<i
                  class="material-icons right">close</i></span>
              <p class="grey-text">Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card small" style="background: url(img/dmi.jpg); background-size: cover;">
            <div style="height: 220px;"></div>
            <div class="card-content">
              <span class="card-title activator black-text">Darbejiya <i
                  class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Mint<i
                  class="material-icons right">close</i></span>
              <p class="grey-text">Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card small" style="background: url(img/oleg.jpg); background-size: cover;">
            <div style="height: 220px;"></div>
            <div class="card-content">
              <span class="card-title activator black-text">GRM Daily <i
                  class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Mint<i
                  class="material-icons right">close</i></span>
              <p class="grey-text">Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <script src="./jquery.js"></script>
  
</body>

</html>